.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

server/dist
server/node_modules
toexe
server/public/dist/js/app.7d765224.js
ie bho/bin/Release/bholog/error@2018-06-07.txt
ie bho/obj

server/public/dist
server/public/tt
ie bho/bin

